//$bg: #08d7e6e0;
//$bg: #a70606e0;
//$bg: #c9ee9b;
//$bg: #ec5f5f;
//$bg: #fe2b01;
//$bg: #27ddb0;
$basicColor: #fb2470;
$white: #fff;
$black: #000;
:root {
    --bg-color: #c9ee9b;
    --checkbox-on: #5ddcff;
    --checkbox-off: #4e00c2;
    --card-height: calc(var(--card-width) / 1.8);
    --card-width: 60vw ;
    --vertical-height: 70vh;
    --vertical-width: calc(var(--vertical-height) / 1.5);
}