@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #c9ee9b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

html, body {
  background: var(--bg-color);
  color: #fff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-weight: 400;
}
html .model_loading, body .model_loading {
  opacity: 1;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  pointer-events: none;
}
html .model_loading h2, body .model_loading h2 {
  font-size: 1vw;
  font-weight: 500;
  display: block;
  color: #dddddd;
}
html .model_loading span, body .model_loading span {
  font-size: 5vw;
  font-weight: 600;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

a {
  text-decoration: none;
  outline: none;
  transition: 0.3s ease;
  color: #fff;
}
a::after {
  transition: 0.3s ease;
}
a:hover {
  color: #000;
}

button {
  outline: none;
  transition: 0.3s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  max-height: 60px;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header a.logo {
  font-size: 1.5rem;
  font-weight: 700;
}
header a.menu {
  position: relative;
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  transition: 0.3s;
}
header a.menu::after {
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
header a.menu:hover::after {
  width: 35px;
  background-color: #000;
}
header a.menu.active {
  color: #000;
}
header a.menu.active::after {
  background-color: #000;
}
header.inside a.logo {
  color: #000;
}
header.inside a.menu {
  color: #000;
}
header.inside a.menu::after {
  background-color: #000;
}
header.inside a.menu:hover {
  color: var(--bg-color);
}
header.inside a.menu:hover::after {
  width: 35px;
  background-color: var(--bg-color);
}

footer {
  position: fixed;
  bottom: 0;
  left: 40px;
  z-index: 12;
  max-height: 40px;
  height: 40px;
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 12px;
  font-weight: 500;
}
footer .social {
  display: flex;
  gap: 15px;
}
footer .social a {
  color: #fff;
  display: block;
}
footer .social a:hover {
  color: #000;
}
footer.inside {
  color: #000;
  left: 0;
}
footer.inside .social a {
  color: #000;
}
footer.inside .social a:hover {
  color: var(--bg-color);
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  width: 0vw;
  height: 100vh;
  background: #fff;
  color: #000;
  z-index: 11;
  overflow: hidden;
  transition: 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
aside a {
  display: table;
  color: #000;
  text-transform: capitalize;
  font-size: 7em;
  line-height: 1em;
  font-weight: 800;
  white-space: nowrap !important;
}
aside a:hover {
  color: var(--bg-color);
}
aside.full {
  width: 100vw;
  padding: 0 10%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.arrowkeys {
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: grid;
  gap: 8px;
  grid-template-columns: 55px 55px 55px 55px 55px;
  grid-template-rows: auto;
  grid-template-areas: " . . up . . " " . left middle right . " "space space space space space";
}
.arrowkeys button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border: 2px solid #ccc;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  cursor: pointer;
}
.arrowkeys button:nth-child(1) {
  grid-area: up;
}
.arrowkeys button:nth-child(2) {
  grid-area: left;
}
.arrowkeys button:nth-child(3) {
  grid-area: middle;
}
.arrowkeys button:nth-child(4) {
  grid-area: right;
}
.arrowkeys button:nth-child(5) {
  grid-area: space;
}
.arrowkeys button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.arrowkeys button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.arrowkeys button.active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (min-width: 320px) and (max-width: 768px) {
  header a.logo {
    font-size: 1.25rem;
  }
  header a.menu {
    font-size: 1rem;
  }
  footer {
    position: fixed;
    flex-direction: column;
    justify-content: center;
  }
  aside a {
    font-size: 3em;
  }
}
*::-webkit-scrollbar {
  background: #fff;
  width: 8px;
}
*::-webkit-scrollbar-button {
  display: none;
  background-color: #07f;
}
*::-webkit-scrollbar-track {
  background-color: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
}
*::-webkit-scrollbar-corner {
  display: none;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(155deg, #eee 20%, #ccc);
  transition: 1 s 0.4 s;
}

#progress {
  height: 1 px;
  background: #fff;
  position: absolute;
  width: 0;
  top: 50%;
  transition: 1 s;
}

#progstat {
  font-size: 0.7 em;
  letter-spacing: 3 px;
  position: absolute;
  top: 50%;
  margin-top: -40 px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  color: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading span {
  font-size: 2.2vw;
  font-weight: 400;
  line-height: 1em;
  display: block;
}
.loading h2 {
  font-size: 6vw;
  display: block;
  font-weight: 700;
  line-height: 1em;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
main section {
  width: 100vw;
  min-height: 100vh;
}
main section.launchsoon {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 5%;
}
main section.launchsoon h2 {
  font-size: 6vw;
  color: var(--bg-color);
}
main section.home {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;
  flex-direction: column;
  height: 100vh;
}
main section.home canvas#homePage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
main section.home h1 {
  font-size: 8.75em;
  font-weight: 700;
  line-height: 9.5rem;
  pointer-events: none;
}
main section.home a.begin {
  color: #000;
  font-size: 2.5em;
  font-weight: 500;
  display: table;
  margin: 15px 0;
  pointer-events: all;
}
main section.page-intro {
  height: 40vh;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
main section.page-intro h5 {
  font-size: 1.5em;
}
main section.page-intro h2 {
  font-size: 4em;
}
main section.page-intro h2 span {
  font-weight: 700;
  color: var(--bg-color);
}
main section.work {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  position: relative;
  z-index: 0;
}
main section.work canvas#workPage {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100vw - 8px) !important;
  bottom: 0;
  z-index: -1;
}
main section.work ul.work-nav {
  position: relative;
  z-index: 1;
  color: #000;
  width: 80%;
}
main section.work ul.work-nav li {
  padding: 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}
main section.work ul.work-nav li a {
  pointer-events: all;
  color: #000;
  font-size: 4em;
  font-weight: 700;
  line-height: 1.8em;
  display: block;
  margin-right: 15px;
  text-transform: capitalize;
}
main section.work ul.work-nav li a:hover {
  color: var(--bg-color);
}
main section.work ul.work-nav li span {
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 600;
}
main section.work ul.work-nav li:last-of-type {
  border-bottom: none;
}
main section.work-category {
  background-color: #fff;
  padding: 80px 10px 60px;
  min-height: 100vh;
}
main section.work-category div.grid {
  margin: 0 1%;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
main section.work-category div.grid .item {
  position: relative;
  display: block;
  transition: 0.3s ease;
  margin-bottom: 10px;
}
main section.work-category div.grid .item img {
  width: 100%;
  position: relative;
  z-index: 0;
}
main section.work-category div.grid .item span {
  position: absolute;
  left: 15px;
  bottom: 20px;
  z-index: 1;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  line-height: 1em;
  padding: 5px 15px;
  font-weight: 600;
  opacity: 0;
  transition: 0.3s;
}
main section.work-category div.grid .item:hover span {
  opacity: 1;
}
main section.work-category div.grid.three {
  -moz-column-count: 2;
       column-count: 2;
}
main section.work-category div.grid.three .item {
  margin-bottom: 15px;
  height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.work-category div.grid.digital {
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
main section.work-category div.grid.digital .item {
  padding: 0 5%;
}
main section.work-category div.grid.digital .item h2 {
  color: #000;
  font-size: 3vw;
  line-height: 1.5em;
  display: flex;
  padding: 15px 0;
}
main section.work-category div.grid.digital .item:hover span {
  opacity: 0;
}
main section.work-category div.grid.website {
  margin: 0 1%;
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
main section.work-category div.grid.website .item:hover span {
  opacity: 0;
}
main section.work-category div.grid.logo {
  -moz-column-count: 4;
       column-count: 4;
}
main section.work-category div.grid.logo .item:hover span {
  opacity: 1;
}
main section.work-category div.grid.uiux {
  margin: 0 5%;
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
main section.work-category div.grid.uiux .item {
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.work-category div.grid.uiux .item h2 {
  color: #000;
  font-size: 2.8vw;
  line-height: 1.2em;
  display: flex;
  padding: 15px 0;
}
main section.work-category div.grid.uiux .item .screen {
  border: 8px solid #000;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.45);
  background-color: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
main section.work-category div.grid.uiux .item .screen.mobile {
  width: 330px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
}
main section.work-category div.grid.uiux .item .screen.mobile img {
  display: block;
  width: 100%;
  height: 100%;
}
main section.work-category div.grid.uiux .item .screen.tablet {
  width: 768px;
  max-width: 768px;
  height: 1280px;
  min-height: 1280px;
  border-radius: 80px;
}
main section.work-category div.grid.uiux .item .screen.ipad {
  width: 768px;
  max-width: 768px;
  height: 1024px;
  min-height: 1024px;
  border-radius: 50px;
  border-radius: 60px;
}
main section.work-category div.grid.uiux .item:hover span {
  opacity: 0;
}
main section.work-category div.grid.print {
  margin: 0 1%;
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
main section.work-category div.grid.print .item {
  padding: 0 10%;
  position: relative;
}
main section.work-category div.grid.print .item h2 {
  color: #000;
  font-size: 3vw;
  line-height: 1.5em;
  display: flex;
  padding: 15px 0;
}
main section.work-category div.grid.print .item h2 sup {
  color: var(--bg-color);
  font-size: 20px !important;
  font-weight: 600;
  vertical-align: super;
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
}
main section.work-category div.grid.print .item.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.work-category div.grid.print .item.pdf .container {
  margin-top: 15px;
  margin-bottom: 15px;
}
main section.work-category div.grid.print .item.pdf .container canvas {
  border: 1px solid #dddddd;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) 10px 10px;
}
main section.work-category div.grid.print .item.pdf .container div.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
main section.work-category div.grid.print .item.pdf .container div.action div.buttons {
  display: flex;
}
main section.work-category div.grid.print .item.pdf .container div.action div.buttons button {
  border: 1px solid transparent;
  background-color: var(--bg-color);
  display: block;
  margin: 0 5px;
  height: 35px;
  color: #fff;
  min-width: 80px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
main section.work-category div.grid.print .item.pdf .container div.action div.buttons button:hover {
  color: var(--bg-color);
  background: #fff;
  border-color: var(--bg-color);
}
main section.work-category div.grid.print .item.pdf .container div.action div.status {
  margin: 5px 0 0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.work-category div.grid.print .item.pdf .container div.action div.status div {
  display: block;
  border: 1px solid #ddd;
  padding: auto 10px;
  text-align: center;
  line-height: 30px;
  min-height: 30px;
  min-width: 50px;
  margin: 0 10px;
}
main section.work-category div.grid.print .item.stationary {
  background-color: rgb(160, 235, 216);
}
main section.work-category div.grid.print .item.broucher div.images {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
main section.work-category div.grid.print .item.broucher div.images img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
main section.work-category div.grid.print .item:hover span {
  opacity: 0;
}
main section.work-single {
  background: #fff;
  color: #000;
  padding: 100px 0;
}
main section.work-single .title {
  width: 80vw;
  height: 550px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background-position: 50% 0;
}
main section.work-single .title h2 {
  position: absolute;
  z-index: 2;
  font-size: 7.5em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
}
main section.work-single .details {
  min-height: 100px;
  max-width: 65vw;
  width: 65vw;
  margin: 0 auto;
  padding: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
main section.work-single .details ul.desc {
  width: 250px;
  font-size: 15px;
  padding: 30px 0;
}
main section.work-single .details ul.desc li {
  margin: 0 0 25px;
}
main section.work-single .details ul.desc li span {
  display: block;
}
main section.work-single .details ul.desc li span strong {
  display: block;
  font-weight: 600;
}
main section.work-single .details ul.desc li a {
  color: #000;
  display: inline-block;
  margin-right: 10px;
  font-weight: 800;
}
main section.work-single .details ul.desc li a:hover {
  color: var(--bg-color);
}
main section.work-single .details ul.desc li:last-of-type {
  margin-bottom: 0;
}
main section.work-single .details .info {
  width: calc(100% - 290px);
}
main section.work-single .details .info h4 {
  font-size: 1rem;
  color: var(--bg-color);
  position: relative;
  font-weight: 500;
}
main section.work-single .details .info h4::after {
  content: "";
  height: 1px;
  width: 30px;
  right: 100%;
  margin-right: 10px;
  top: 50%;
  display: block;
  background-color: var(--bg-color);
  position: absolute;
}
main section.work-single .details .info h3 {
  font-size: 4.5em;
  font-weight: 700;
  line-height: 1em;
  margin: 15px 0;
}
main section.work-single .details .info blockquote {
  border-left: 3px solid var(--bg-color);
  padding: 15px 20px;
  background-color: #f7f7f7;
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 400;
}
main section.work-single .details .info p {
  margin: 0;
  padding: 15px 0 0;
  font-size: 16px;
  line-height: 1.25em;
}
main section.work-single .details .next-prev {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
main section.work-single .details .next-prev a {
  color: var(--bg-color);
  display: table;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
}
main section.work-single .details .next-prev a:hover {
  color: #000;
}
main section.work-single .details .next-prev .next a {
  margin-left: auto;
}
main section.work-single .details .next-prev .prev a {
  margin-right: auto;
}
main section.whats-up {
  background-color: #fff;
  color: #000;
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
}
main section.whats-up .image {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 500px;
  background: url(../media/salman.jpg) center center no-repeat;
  background-size: contain;
  left: 50%;
  top: 40%;
}
main section.whats-up .intro {
  position: relative;
  z-index: 2;
  width: 55vw;
  margin: 0 auto;
}
main section.whats-up .intro h1 {
  font-size: 6.2rem;
  font-weight: 800;
}
main section.whats-up .intro h2 {
  font-size: 2.1rem;
  color: var(--bg-color);
}
main section.whats-up .intro p {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  width: 45%;
}
main section.whats-up .intro p span {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
}
main section.whats-up .intro p a {
  color: #000;
  font-weight: 500;
}
main section.whats-up .intro p:first-of-type {
  margin-top: 35px;
}
main section.inspiration {
  padding: 100px 0;
  background-color: #fff;
  color: #000;
}
main section.hello {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  position: relative;
  z-index: 0;
  color: #000;
}
main section.hello .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  margin: 0 10%;
  gap: 15px;
}
main section.hello .details div.image {
  width: 50%;
}
main section.hello .details div.image img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
main section.hello .details div.info {
  width: 50%;
}
main section.inspiration {
  background-color: orange;
}
main section.text {
  position: relative;
}
main section.text button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #95a8a6;
  border: 5px solid #0f1515;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.35s ease;
  transform-origin: 50% 50%;
}
main section.text button:before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #0f1515;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -50%);
}
main section.text button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
main section.text .lady {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 525px;
  opacity: 0.4;
}
main section.text canvas {
  opacity: 0;
}
main section.stained canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
}
main section.daynight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  animation: bg-anim 15s ease infinite;
  background-image: linear-gradient(-45deg, #4571d8, #21586f, #666b7a, #2b5ea5);
  background-size: 400% 400%;
  z-index: 1;
}
main section.daynight .device {
  position: absolute;
  z-index: 0;
}
main section.daynight .container {
  position: relative;
  width: 263px;
  max-height: 525px;
  height: 100vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
main section.daynight .layer1, main section.daynight .layer2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.01);
}
main section.daynight .layer2 {
  opacity: 0;
  transition: 4s;
}
main section.daynight .layer1 {
  opacity: 1;
  transition: 4s;
}
main section.daynight .moon {
  transform: translate(-50px, 230px);
  transition: 4s;
}
main section.daynight .rising-star {
  transform: translate(225px, -160px);
  transition: 4s;
}
main section.daynight .sun {
  transition: 5s;
}
main section.daynight .cloud1, main section.daynight .cloud2, main section.daynight .cloud3, main section.daynight .cloud4 {
  transition: 4s;
}
main section.daynight .light-mode .layer2 {
  opacity: 1;
}
main section.daynight .light-mode .moon, main section.daynight .light-mode .rising-star {
  transform: none;
  transition-delay: 1s;
}
main section.daynight .light-mode .sun {
  transform: translate(64px, -290px);
}
main section.daynight .light-mode .cloud1 {
  transform: translateX(-140px);
}
main section.daynight .light-mode .cloud2 {
  transform: translateX(-100px);
}
main section.daynight .light-mode .cloud3 {
  transform: translateX(-200px);
}
main section.daynight .light-mode .cloud4 {
  transform: translateX(-180px);
}
main section.daynight .toggle {
  width: 45px;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  cursor: pointer;
}
main section.daynight :root {
  --mountainY: 0;
}
main section.daynight .mountain3 {
  transform: translateX(29px) scaleX(1.04) translateY(var(--mountainY));
}
main section.daynight [class*=mountain] {
  transform: translateY(var(--mountainY));
  animation: goUp 2s both;
}
main section.daynight .mountain2 {
  animation-delay: 0.2s;
}
main section.daynight .mountain3 {
  animation-delay: 0.4s;
}
main section.daynight .mountain4 {
  animation-delay: 0.6s;
}
main section.daynight .mountain5 {
  animation-delay: 0.8s;
}
main section.daynight .mountain6 {
  animation-delay: 1s;
}
main section.daynight .mountain7 {
  animation-delay: 1.2s;
}
main section.daynight .right {
  animation: goLeft 2s 0.2s both;
}
main section.daynight .tree {
  animation: goUp 2s both;
}
main section.daynight .sun {
  animation: fadeIn 2s 2s both;
}
main section.daynight .sky {
  animation: sky 2s 2s both;
}
main section.daynight .m3 {
  transform: translateX(26px) scaleX(1.1);
}
@keyframes goUp {
  from {
    transform: translateY(200px);
  }
}
@keyframes sky {
  from {
    transform: scale(2);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes goLeft {
  from {
    transform: translateX(200px);
  }
}
@keyframes bg-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main section.crowd #canvas {
  width: 100%;
  height: 100%;
}
main section.slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
@font-face {
  font-family: DomaineDisp;
  font-weight: normal;
  src: url(https://cdn.statically.io/gh/AlainBarrios/Fonts/b41a05199c312e4fada6cf977d40d76f2534e306/DomaineDisp-Regular.otf?raw=true);
}
main section.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
main section.slider img {
  max-width: 100%;
  display: block;
}
main section.slider #wrap-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
main section.slider #canvasx {
  /* make the canvas wrapper fits the document */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
main section.slider #canvasx:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
main section.slider .planes {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  cursor: grab;
  white-space: nowrap;
  overflow: hidden;
}
main section.slider .draggable-container {
  position: absolute;
  height: 100%;
}
main section.slider .slider-names-container {
  --size: calc(7vmin + 1rem);
  text-align: center;
  font-family: DomaineDisp;
  font-size: var(--size);
  text-transform: uppercase;
  pointer-events: none;
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  width: 100vw;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
main section.slider .draggable-visible {
  display: grid;
  grid-template-columns: repeat(8, minmax(480px, 1fr));
  height: 100%;
  grid-column-gap: 100px;
}
main section.slider .draggable-hidden {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
}
main section.slider .draggable-hidden .item {
  height: 100%;
}
main section.slider .grabbing {
  cursor: grabbing;
}
main section.slider .plane {
  height: 100%;
}
main section.slider .plane img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 768px) {
  main section {
    width: 100vw;
    min-height: 100vh;
  }
  main section.home {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;
    flex-direction: column;
    height: 100vh;
  }
  main section.home canvas#homePage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  main section.home h1 {
    font-size: 3.5em;
    line-height: 3.5rem;
  }
  main section.home a.begin {
    color: #000;
    font-size: 2.5em;
    font-weight: 500;
    display: table;
    margin: 15px 0;
    pointer-events: all;
  }
  main section.page-intro {
    height: 40vh;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  main section.page-intro h5 {
    font-size: 1.5em;
  }
  main section.page-intro h2 {
    font-size: 4em;
  }
  main section.page-intro h2 span {
    font-weight: 700;
    color: var(--bg-color);
  }
  main section.work ul.work-nav {
    width: 90%;
  }
  main section.work ul.work-nav li a {
    font-size: 2.25em;
  }
  main section.work ul.work-nav li span {
    font-size: 1em;
  }
  main section.work-category div.grid {
    -moz-column-count: 1;
         column-count: 1;
  }
  main section.work-category div.grid.three {
    -moz-column-count: 1;
         column-count: 1;
  }
  main section.work-category div.grid.three .item {
    height: auto;
  }
  main section.work-category div.grid.digital {
    margin: 0 1%;
    -moz-column-count: 1;
         column-count: 1;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  main section.work-category div.grid.digital .item {
    padding: 0 5%;
  }
  main section.work-category div.grid.digital .item h2 {
    color: #000;
    font-size: 3vw;
    line-height: 1.5em;
    display: flex;
    padding: 15px 0;
  }
  main section.work-category div.grid.digital .item:hover span {
    opacity: 0;
  }
  main section.work-category div.grid.logo {
    -moz-column-count: 1;
         column-count: 1;
  }
  main section.work-category div.grid.uiux {
    margin: 0 10px;
  }
  main section.work-category div.grid.uiux .item h2 {
    font-size: 8vw;
  }
  main section.work-category div.grid.uiux .item .screen.mobile {
    width: 100%;
  }
  main section.work-category div.grid.uiux .item .screen.tablet {
    width: 768px;
    max-width: 768px;
    height: 1280px;
    min-height: 1280px;
    border-radius: 80px;
  }
  main section.work-category div.grid.uiux .item .screen.ipad {
    width: 768px;
    max-width: 768px;
    height: 1024px;
    min-height: 1024px;
    border-radius: 50px;
    border-radius: 60px;
  }
  main section.work-category div.grid.print {
    margin: 0 1%;
    -moz-column-count: 1;
         column-count: 1;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  main section.work-category div.grid.print .item {
    padding: 0 10%;
    position: relative;
  }
  main section.work-category div.grid.print .item h2 {
    font-size: 6vw;
  }
  main section.work-category div.grid.print .item h2 sup {
    font-size: 16px !important;
  }
  main section.work-category div.grid.print .item.pdf .container {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  main section.work-category div.grid.print .item.pdf .container canvas {
    width: 100%;
  }
  main section.work-category div.grid.print .item.pdf .container div.action div.buttons button {
    height: 30px;
    min-width: 80px;
    font-size: 12px;
  }
  main section.work-category div.grid.print .item.pdf .container div.action div.status div {
    line-height: 25px;
    min-height: 25px;
    min-width: 40px;
    margin: 0 5px;
  }
  main section.work-category div.grid.print .item.stationary {
    background-color: rgb(160, 235, 216);
  }
  main section.work-category div.grid.print .item.broucher div.images {
    -moz-column-count: 1;
         column-count: 1;
  }
  main section.work-category div.grid.print .item:hover span {
    opacity: 0;
  }
  main section.work-single {
    background: #fff;
    color: #000;
    padding: 100px 0;
  }
  main section.work-single .title {
    width: 80vw;
    height: 550px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    background-position: 50% 0;
  }
  main section.work-single .title h2 {
    position: absolute;
    z-index: 2;
    font-size: 7.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  }
  main section.work-single .details {
    min-height: 100px;
    max-width: 65vw;
    width: 65vw;
    margin: 0 auto;
    padding: 50px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  main section.work-single .details ul.desc {
    width: 250px;
    font-size: 15px;
    padding: 30px 0;
  }
  main section.work-single .details ul.desc li {
    margin: 0 0 25px;
  }
  main section.work-single .details ul.desc li span {
    display: block;
  }
  main section.work-single .details ul.desc li span strong {
    display: block;
    font-weight: 600;
  }
  main section.work-single .details ul.desc li a {
    color: #000;
    display: inline-block;
    margin-right: 10px;
    font-weight: 800;
  }
  main section.work-single .details ul.desc li a:hover {
    color: var(--bg-color);
  }
  main section.work-single .details ul.desc li:last-of-type {
    margin-bottom: 0;
  }
  main section.work-single .details .info {
    width: calc(100% - 290px);
  }
  main section.work-single .details .info h4 {
    font-size: 1rem;
    color: var(--bg-color);
    position: relative;
    font-weight: 500;
  }
  main section.work-single .details .info h4::after {
    content: "";
    height: 1px;
    width: 30px;
    right: 100%;
    margin-right: 10px;
    top: 50%;
    display: block;
    background-color: var(--bg-color);
    position: absolute;
  }
  main section.work-single .details .info h3 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 15px 0;
  }
  main section.work-single .details .info blockquote {
    border-left: 3px solid var(--bg-color);
    padding: 15px 20px;
    background-color: #f7f7f7;
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 400;
  }
  main section.work-single .details .info p {
    margin: 0;
    padding: 15px 0 0;
    font-size: 16px;
    line-height: 1.25em;
  }
  main section.work-single .details .next-prev {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
  main section.work-single .details .next-prev a {
    color: var(--bg-color);
    display: table;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  main section.work-single .details .next-prev a:hover {
    color: #000;
  }
  main section.work-single .details .next-prev .next a {
    margin-left: auto;
  }
  main section.work-single .details .next-prev .prev a {
    margin-right: auto;
  }
  main section.whats-up {
    background-color: #fff;
    color: #000;
    min-height: 100vh;
    padding: 100px 0;
    position: relative;
  }
  main section.whats-up .image {
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 500px;
    background: url(../media/salman.jpg) center center no-repeat;
    background-size: contain;
    left: 50%;
    top: 40%;
  }
  main section.whats-up .intro {
    position: relative;
    z-index: 2;
    width: 55vw;
    margin: 0 auto;
  }
  main section.whats-up .intro h1 {
    font-size: 6.2rem;
    font-weight: 800;
  }
  main section.whats-up .intro h2 {
    font-size: 2.1rem;
    color: var(--bg-color);
  }
  main section.whats-up .intro p {
    margin: 0 0 20px;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    width: 45%;
  }
  main section.whats-up .intro p span {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
  }
  main section.whats-up .intro p a {
    color: #000;
    font-weight: 500;
  }
  main section.whats-up .intro p:first-of-type {
    margin-top: 35px;
  }
  main section.inspiration {
    padding: 100px 0;
    background-color: #fff;
    color: #000;
  }
  main section.hello {
    background: #fff;
  }
}/*# sourceMappingURL=style.css.map */