@import 'colors', 'fonts', 'basic', 'scrollbar', 'preloader';

main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    section{
        width: 100vw;
        min-height: 100vh;
        &.launchsoon{
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 80px 5%;
            h2{
                font-size: 6vw;
                color: var(--bg-color);
            }
        }
        &.home{
            position: relative;
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 0 10%;
            flex-direction: column;
            height: 100vh;
            canvas#homePage{
                position: absolute;
                left: 0;
                top: 0;
                width: 100vw;
                height: 100vh;
                z-index: -1;
            }
            h1{
                font-size: 8.75em;
                font-weight: 700;
                line-height: 9.5rem;
                pointer-events: none;
            }
            a.begin{
                color: $black;
                font-size: 2.5em;
                font-weight: 500;
                display: table;
                margin: 15px 0;
                pointer-events: all;
            }
        }
        &.page-intro{
            height: 40vh;
            background-color: $white;
            color: $black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            h5{
                font-size: 1.5em;                
            }
            h2{
                font-size: 4em;                
                span{
                    font-weight: 700;                    
                    color: var(--bg-color);
                }
            }
        }
        &.work{
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 80px 0;
            position: relative;
            z-index: 0;
            canvas#workPage{
                position: fixed;
                left: 0;
                top: 0;
                width: calc(100vw - $barWidth) !important;
                bottom: 0;
                z-index: -1;
            }
            ul.work-nav{
                position: relative;
                z-index: 1;
                color: $black;
                width: 80%;
                li{
                    padding: 0 15px;
                    border-bottom: 1px solid rgba(0,0,0,0.1);
                    display: flex;
                    flex-direction: row;
                    align-items: center;                    
                    a{
                        pointer-events: all;
                        color: $black;
                        font-size: 4em;
                        font-weight: 700;
                        line-height: 1.8em;
                        display: block;
                        margin-right: 15px;
                        text-transform: capitalize;
                        &:hover{
                            color: var(--bg-color);
                        }
                    }
                    span{
                        font-size: 1.2em;
                        text-transform: uppercase;
                        color: var(--bg-color);
                        font-weight: 600;
                    }
                    &:last-of-type{
                        border-bottom: none;
                    }
                }
            }
        }
        &.work-category{
            background-color: $white;
            padding: 80px 10px 60px;
            min-height: 100vh;
            div.grid{
                margin: 0 1%;
                column-count: 3;
                column-gap: 15px;                
                .item{
                    position: relative;
                    display: block;                    
                    transition: 0.3s ease;
                    margin-bottom: 10px;
                    img{
                        width: 100%;
                        position: relative;
                        z-index: 0;
                    }
                    span{
                        position: absolute;
                        left: 15px;
                        bottom: 20px;
                        z-index: 1;
                        background-color: $white;
                        color: $black;
                        font-size: 20px;
                        line-height: 1em;
                        padding: 5px 15px;
                        font-weight: 600;
                        opacity: 0;
                        transition: 0.3s;
                    }
                    &:hover{
                        span{
                            opacity: 1;
                        }
                    }
                }
                &.three{
                    column-count: 2;
                    .item{
                        margin-bottom: 15px;
                        height: 450px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &.digital{
                    column-count: 1;
                    column-gap: 15px;
                    .item{
                        //height: calc(100vh - 140px);
                        padding: 0 5%;
                        h2{
                            color: $black;
                            font-size: 3vw;
                            line-height: 1.5em;
                            display: flex;
                            padding: 15px 0;
                        }
                        &:hover{
                            span{
                                opacity: 0;
                            }
                        }
                    }
                }
                &.website{
                    margin: 0 1%;
                    column-count: 1;
                    column-gap: 15px;
                    .item{
                        &:hover{
                            span{
                                opacity: 0;
                            }
                        }
                    }
                }
                &.logo{
                    column-count: 4;
                    .item{
                        &:hover{
                            span{
                                opacity: 1;
                            }
                        }
                    }
                }
                &.uiux{
                    margin: 0 5%;
                    column-count: 1;
                    column-gap: 15px;
                    .item{                        
                        padding: 0 0 50px 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        h2{
                            color: $black;
                            font-size: 2.8vw;
                            line-height: 1.2em;
                            display: flex;
                            padding: 15px 0;
                        }
                        .screen{
                            border: 8px solid $black;                            
                            box-shadow: 0 10px 15px rgba(0,0,0,0.45);
                            background-color: $white;
                            overflow: hidden;
                            margin: 0;
                            padding: 0;
                            &.mobile{
                                width: 330px;
                                border-radius: 25px;
                                padding: 0;
                                margin: 0;
                                img{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            &.tablet{
                                width: 768px;
                                max-width: 768px;
                                height: 1280px;
                                min-height: 1280px; 
                                border-radius: 80px;
                            }
                            &.ipad{
                                width: 768px;
                                max-width: 768px;
                                height: 1024px;
                                min-height: 1024px;
                                border-radius: 50px; 
                                border-radius: 60px;
                            }                            
                        }
                        &:hover{
                            span{
                                opacity: 0;
                            }
                        }
                    }
                }
                &.print{
                    margin: 0 1%;
                    column-count: 1;
                    column-gap: 15px;
                    .item{
                        padding: 0 10%;
                        position: relative;
                        h2{
                            color: $black;
                            font-size: 3vw;
                            line-height: 1.5em;
                            display: flex;
                            padding: 15px 0;
                            sup {
                                color: var(--bg-color);
                                font-size: 20px !important;
                                font-weight: 600;
                                vertical-align: super;
                                display: inline-block;
                                margin: 0 10px;
                                text-transform: uppercase;
                            }
                        }

                        &.pdf{
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .container{
                               margin-top: 15px;
                               margin-bottom: 15px;
                                canvas{
                                    border: 1px solid #dddddd;
                                    box-shadow: 0 5px 5px rgba(0,0,0,0.4) 10px 10px;
                                    //box-shadow: rgba(209, 209, 209, 0.4) 5px 5px, rgba(209, 209, 209, 0.4) 10px 10px, rgba(209, 209, 209, 0.4) 15px 15px, rgba(209, 209, 209, 0.4) 20px 20px, rgba(209, 209, 209, 0.4) 25px 25px;
                                }

                                div.action{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin: 10px 0;
                                    div.buttons{
                                        display: flex;
                                        button{
                                            border: 1px solid transparent;
                                            background-color: var(--bg-color);
                                            display: block;
                                            margin: 0 5px;
                                            height: 35px;
                                            color: $white;
                                            min-width: 80px;
                                            padding: 0 15px;
                                            font-size: 15px;
                                            font-weight: 500;
                                            cursor: pointer;
                                            &:hover{
                                                color: var(--bg-color);
                                                background: $white;
                                                border-color: var(--bg-color);
                                            }
                                        }
                                    }
                                    div.status{
                                        margin: 5px 0 0;
                                        color: $black;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        div{
                                            display: block;
                                            border: 1px solid #ddd;
                                            padding: auto 10px;
                                            text-align: center;
                                            line-height: 30px;
                                            min-height: 30px;
                                            min-width: 50px;
                                            margin: 0 10px;
    
                                        }
                                    }
                                }
                                
                            }
                        }
                        &.stationary{
                            background-color: rgb(160, 235, 216);
                        }
                        &.broucher{
                            div.images{
                                column-count: 3;
                                column-gap: 15px;
                                img{
                                    display: block;
                                    width: 100%;
                                    margin-bottom: 15px;
                                }
                            }
                        }







                        &:hover{
                            span{
                                opacity: 0;
                            }
                        }
                    } 
                }
                &.branding{
                    column-count: 2;
                }
            }
        }
        &.work-single{
            background: $white;
            color: $black;
            padding: 100px 0;
            .title{
                width: 80vw;
                height: 550px;
                overflow: hidden;
                position: relative;
                margin: 0 auto;
                box-shadow: 0 15px 30px rgba(0,0,0,0.2);
                background-position: 50% 0;
                h2{
                    position: absolute;
                    z-index: 2;
                    font-size: 7.5em;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: $white;
                    text-shadow: 0 2px 1px rgba(0,0,0,0.4);
                }
            }
            .details{
                min-height: 100px;
                max-width: 65vw;
                width: 65vw;
                margin: 0 auto;                
                padding: 50px 0 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                gap: 40px;
                ul.desc{
                    width: 250px;
                    font-size: 15px;
                    padding: 30px 0;
                    li{
                        margin: 0 0 25px;
                        span{
                            display: block;
                            strong{
                                display: block;
                                font-weight: 600;
                            }                            
                        }
                        a{
                            color: $black;
                            display: inline-block;
                            margin-right: 10px;
                            font-weight: 800;
                            &:hover{
                                color: var(--bg-color);
                            }
                        }
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                    }
                }
                .info{
                    width: calc(100% - 290px);
                    h4{
                        font-size: 1rem;
                        color: var(--bg-color);
                        position: relative;
                        font-weight: 500;
                        &::after{
                            content: '';
                            height: 1px;
                            width: 30px;
                            right: 100%;
                            margin-right: 10px;
                            top: 50%;
                            display: block;
                            background-color: var(--bg-color);
                            position: absolute;
                        }
                    }
                    h3{
                        font-size: 4.5em;                        
                        font-weight: 700;
                        line-height: 1em;
                        margin: 15px 0;
                    }
                    blockquote{
                        border-left: 3px solid var(--bg-color);
                        padding: 15px 20px;
                        background-color: #f7f7f7;
                        font-size: 1.2rem;
                        line-height: 1em;
                        font-weight: 400;
                    }
                    p{
                        margin: 0;
                        padding: 15px 0 0;
                        font-size: 16px;
                        line-height: 1.25em;
                    }
                }
                .next-prev{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: uppercase;
                    a{
                        color: var(--bg-color);
                        display: table;
                        font-size: 1.1rem;
                        font-weight: 600;
                        text-transform: capitalize;
                        &:hover{
                            color: $black;
                        }
                    }
                    .next{
                        a{
                            margin-left: auto;
                        }
                    }
                    .prev{
                        a{
                            margin-right: auto;
                        }
                    }
                }
            }
            
        }
        &.whats-up{
            background-color: $white;
            color: $black;
            min-height: 100vh;
            padding: 100px 0;
            position: relative;
            .image{
                position: absolute;
                z-index: 1;
                width: 500px;
                height: 500px;
                background: url(../media/salman.jpg) center center no-repeat;
                background-size: contain;
                left: 50%;
                top: 40%;
            }
            .intro{
                position: relative;
                z-index: 2;
                width: 55vw;
                margin: 0 auto;
                h1{
                    font-size: 6.2rem;
                    font-weight: 800;
                }
                h2{
                    font-size: 2.1rem;
                    color: var(--bg-color);
                }
                p{
                    margin: 0 0 20px;
                    padding: 0;
                    font-weight: 400;
                    font-size: 15px;
                    width: 45%;
                    span{
                        display: block;
                        font-weight: 700;
                        font-size: 1.2rem;
                    }
                    a{
                        color: $black;
                        font-weight: 500;
                    }
                    &:first-of-type{
                        margin-top: 35px;
                    }
                }
            }
        }
        &.inspiration{
            padding: 100px 0;
            background-color: $white;
            color: $black;
        }
        &.hello{
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 80px 0;
            position: relative;
            z-index: 0;
            color: $black;
            .details{
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 1;
                margin: 0 10%;
                gap: 15px;
                div.image{
                    width: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }
                div.info{                    
                    width: 50%;
                }
            }
        }
        &.inspiration{
            background-color: orange;
        }
        &.text{
            position: relative;
            button {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #95a8a6;
                border: 5px solid #0f1515;
                position: absolute;
                left: 50%;
                top: 50%;
                cursor: pointer;
                transform: translate(-50%, -50%) scale(1);
                transition: transform 0.35s ease;
                transform-origin: 50% 50%;
                
                
            }
            button:before {
                position: absolute;
                content: "";
                width: 0px;
                height: 0px;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 30px solid #0f1515;
                left: 50%;
                top: 50%;
                transform: translate(-30%, -50%);
            }
        
            button:hover {
                transform: translate(-50%, -50%) scale(1.1);
            }
    
            .lady {
                position: absolute;
                margin:auto;
                left:0;
                right:0;
                top:0;
                bottom:0;
                width:525px;
                opacity:0.4;
            }
    
            canvas {
                opacity:0;
            }
        }
        &.stained{
            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                width: 100%;
                height: 100%;
            }
        }
        &.daynight{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            animation: bg-anim 15s ease infinite;
            background-image: linear-gradient(-45deg, #4571d8, #21586f, #666b7a, #2b5ea5);
            background-size: 400% 400%;
            z-index: 1;
            .device {
                position: absolute;
                z-index: 0;
            }
            .container {
                position: relative;
                width: 263px;
                max-height: 525px;
                height: 100vh;
                overflow: hidden;
                border-radius: 20px;
                box-shadow: 0 30px 50px rgba(0,0,0,.3);
                z-index: 1;
            }            
            .layer1, .layer2 {
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: scale(1.01);
            }
            .layer2 {
                opacity: 0;
                transition: 4s;
            }
            .layer1 {
                opacity: 1;
                transition: 4s;
            }
            .moon {
                transform: translate(-50px, 230px);
                transition: 4s;
            }
            .rising-star {
                transform: translate(225px, -160px);
                transition: 4s;
            }
            .sun {
                transition: 5s;
            }
            .cloud1, .cloud2, .cloud3, .cloud4 {
                transition: 4s;
            }
            .light-mode {
                .layer2 {
                    opacity: 1;
                }
                .moon, .rising-star{
                    transform: none;
                    transition-delay: 1s;
                }
                .sun {
                    transform: translate(64px, -290px);
                }
                .cloud1 {
                    transform: translateX(-140px);
                }
                .cloud2 {
                    transform: translateX(-100px);
                }
                .cloud3 {
                    transform: translateX(-200px);
                }
                .cloud4 {
                    transform: translateX(-180px);
                }
            }
            .toggle {
                width: 45px;
                height: 24px;
                position: absolute;
                right: 8px;
                top: 8px;
                z-index: 1;
                cursor: pointer;
            }
            :root {
                --mountainY: 0;
            }
   
   
   .mountain3 {
    transform: translateX(29px) scaleX(1.04) translateY(var(--mountainY));
   }
   
   [class*="mountain"] {
    transform: translateY(var(--mountainY));
    animation: goUp 2s both;
   }
   
   .mountain2 {
    animation-delay: .2s 
   }
   .mountain3 {
    animation-delay: .4s;
   }
   .mountain4 {
    animation-delay: .6s;
   }
   .mountain5 {
    animation-delay: .8s;
   }
   .mountain6 {
    animation-delay: 1s;
   }
   .mountain7 {
    animation-delay: 1.2s;
   }
   
   .right {
    animation: goLeft 2s .2s both;
   }
   
   .tree {
      animation: goUp 2s both;
   }
   
   .sun {
      animation: fadeIn 2s 2s both;
   }
   
   .sky {
    animation: sky 2s 2s both;
   }
   
   .m3 {
    transform: translateX(26px) scaleX(1.1);
   }
   
   @keyframes goUp {
    from {
     transform: translateY(200px);
    }
   }
   
   @keyframes sky {
    from {
     transform: scale(2);
    }
   }
   
   @keyframes fadeIn {
    from {
     opacity: 0;
    }
   }
   
   @keyframes goLeft {
    from {
     transform: translateX(200px);
    }
   }
   
   @keyframes bg-anim {
    0% {
     background-position: 0% 50%;
    }
    50% {
     background-position: 100% 50%;
    }
    100% {
     background-position: 0% 50%;
    }
   }




        }
        &.crowd{
            #canvas {
                width: 100%;
                height: 100%;
            }
        }
        &.slider{
            //box-sizing: border-box;
            //text-rendering: optimizeLegibility;
            //-webkit-font-smoothing: antialiased;
            //-moz-osx-font-smoothing: grayscale;
            //font-kerning: auto;
            //-webkit-text-size-adjust: 100%;
            @font-face {
                font-family: DomaineDisp;
                font-weight: normal;
                src: url(https://cdn.statically.io/gh/AlainBarrios/Fonts/b41a05199c312e4fada6cf977d40d76f2534e306/DomaineDisp-Regular.otf?raw=true);
              }
              
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0;
                //background-color: rgba(0, 0, 0, 1);
              
              ul {
                margin: 0;
                padding: 0;
                list-style: none;
              }
              
              img {
                max-width: 100%;
                display: block;
              }
              
              #wrap-texture {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
              }
              
              #canvasx {
                /* make the canvas wrapper fits the document */
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                  }
              }
              
              
              .planes {
                display: flex;
                align-items: center;
                width: 100%;
                height: 45vh;
                user-select: none;
                position: relative;
                cursor: grab;
                white-space: nowrap;
                overflow: hidden;
              }
              
              .draggable-container {
                position: absolute;
                height: 100%;
              }
              
              .slider-names-container {
                --size: calc(7vmin + 1rem);
                text-align: center;
                font-family: DomaineDisp;
                font-size: var(--size);
                text-transform: uppercase;
                pointer-events: none;
                color: rgb(255, 255, 255);
                overflow-y: hidden;
                width: 100vw;
                position: absolute;
                top: 50%;
                transform: translatey(-50%);
              }
              
              .draggable-visible {
                display: grid;
                grid-template-columns: repeat(8, minmax(480px, 1fr));
                height: 100%;
                grid-column-gap: 100px;
              }
              
              .draggable-hidden {
                z-index: 5;
                width: 100%; 
                height: 100%;
                position: absolute;
                .item {
                    height: 100%;
                }
              }
              
            .grabbing {
                cursor: grabbing;
            }
              
            .plane {
                height: 100%;
                img {
                    //display: none;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    main{
        section{
            width: 100vw;
            min-height: 100vh;
            &.home{
                position: relative;
                z-index: 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 0 10%;
                flex-direction: column;
                height: 100vh;
                canvas#homePage{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vh;
                    z-index: -1;
                }
                h1{
                    font-size: 3.5em;
                    line-height: 3.5rem;
                }
                a.begin{
                    color: $black;
                    font-size: 2.5em;
                    font-weight: 500;
                    display: table;
                    margin: 15px 0;
                    pointer-events: all;
                }
            }
            &.page-intro{
                height: 40vh;
                background-color: $white;
                color: $black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                h5{
                    font-size: 1.5em;                
                }
                h2{
                    font-size: 4em;                
                    span{
                        font-weight: 700;                    
                        color: var(--bg-color);
                    }
                }
            }
            &.work{
                ul.work-nav{
                    width: 90%;
                    li{
                        a{
                            font-size: 2.25em;
                        }
                        span{
                            font-size: 1.0em;
                        }
                    }
                }
            }
            &.work-category{
                div.grid{
                    column-count: 1;                    
                    &.three{
                        column-count: 1;
                        .item{
                            height: auto;
                        }
                    }
                    &.digital{
                        margin: 0 1%;
                        column-count: 1;
                        column-gap: 15px;
                        .item{
                            //height: calc(100vh - 140px);
                            padding: 0 5%;
                            h2{
                                color: $black;
                                font-size: 3vw;
                                line-height: 1.5em;
                                display: flex;
                                padding: 15px 0;
                            }
                            &:hover{
                                span{
                                    opacity: 0;
                                }
                            }
                        }
                    }
                    &.logo{
                        column-count: 1;                        
                    }
                    &.uiux{
                        margin: 0 10px;
                        .item{                        
                            h2{
                                font-size: 8vw;
                            }
                            .screen{
                                &.mobile{
                                    width: 100%;
                                }
                                &.tablet{
                                    width: 768px;
                                    max-width: 768px;
                                    height: 1280px;
                                    min-height: 1280px; 
                                    border-radius: 80px;
                                }
                                &.ipad{
                                    width: 768px;
                                    max-width: 768px;
                                    height: 1024px;
                                    min-height: 1024px;
                                    border-radius: 50px; 
                                    border-radius: 60px;
                                }                            
                            }
                        }
                    }
                    &.print{
                        margin: 0 1%;
                        column-count: 1;
                        column-gap: 15px;
                        .item{
                            padding: 0 10%;
                            position: relative;
                            h2{
                                font-size: 6vw;
                                sup {
                                    font-size: 16px !important;
                                }
                            }
                            &.pdf{
                                .container{
                                   margin-top: 8px;
                                   margin-bottom: 8px;
                                    canvas{
                                        width: 100%;
                                    }
                                    div.action{
                                        div.buttons{
                                            button{
                                                height: 30px;
                                                min-width: 80px;
                                                font-size: 12px;
                                            }
                                        }
                                        div.status{
                                            div{
                                                line-height: 25px;
                                                min-height: 25px;
                                                min-width: 40px;
                                                margin: 0 5px;        
                                            }
                                        }
                                    }                                    
                                }
                            }
                            &.stationary{
                                background-color: rgb(160, 235, 216);
                            }
                            &.broucher{
                                div.images{
                                    column-count: 1;
                                }
                            }
                            &:hover{
                                span{
                                    opacity: 0;
                                }
                            }
                        } 
                    }
                    &.branding{
                        column-count: 1;
                    }
                }
            }
            &.work-single{
                background: $white;
                color: $black;
                padding: 100px 0;
                .title{
                    width: 80vw;
                    height: 550px;
                    overflow: hidden;
                    position: relative;
                    margin: 0 auto;
                    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
                    background-position: 50% 0;
                    h2{
                        position: absolute;
                        z-index: 2;
                        font-size: 7.5em;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: $white;
                        text-shadow: 0 2px 1px rgba(0,0,0,0.4);
                    }
                }
                .details{
                    min-height: 100px;
                    max-width: 65vw;
                    width: 65vw;
                    margin: 0 auto;                
                    padding: 50px 0 0;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
                    ul.desc{
                        width: 250px;
                        font-size: 15px;
                        padding: 30px 0;
                        li{
                            margin: 0 0 25px;
                            span{
                                display: block;
                                strong{
                                    display: block;
                                    font-weight: 600;
                                }                            
                            }
                            a{
                                color: $black;
                                display: inline-block;
                                margin-right: 10px;
                                font-weight: 800;
                                &:hover{
                                    color: var(--bg-color);
                                }
                            }
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                        }
                    }
                    .info{
                        width: calc(100% - 290px);
                        h4{
                            font-size: 1rem;
                            color: var(--bg-color);
                            position: relative;
                            font-weight: 500;
                            &::after{
                                content: '';
                                height: 1px;
                                width: 30px;
                                right: 100%;
                                margin-right: 10px;
                                top: 50%;
                                display: block;
                                background-color: var(--bg-color);
                                position: absolute;
                            }
                        }
                        h3{
                            font-size: 4.5em;                        
                            font-weight: 700;
                            line-height: 1em;
                            margin: 15px 0;
                        }
                        blockquote{
                            border-left: 3px solid var(--bg-color);
                            padding: 15px 20px;
                            background-color: #f7f7f7;
                            font-size: 1.2rem;
                            line-height: 1em;
                            font-weight: 400;
                        }
                        p{
                            margin: 0;
                            padding: 15px 0 0;
                            font-size: 16px;
                            line-height: 1.25em;
                        }
                    }
                    .next-prev{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        font-size: 13px;
                        font-weight: 400;
                        text-transform: uppercase;
                        a{
                            color: var(--bg-color);
                            display: table;
                            font-size: 1.1rem;
                            font-weight: 600;
                            text-transform: capitalize;
                            &:hover{
                                color: $black;
                            }
                        }
                        .next{
                            a{
                                margin-left: auto;
                            }
                        }
                        .prev{
                            a{
                                margin-right: auto;
                            }
                        }
                    }
                }
                
            }
            &.whats-up{
                background-color: $white;
                color: $black;
                min-height: 100vh;
                padding: 100px 0;
                position: relative;
                .image{
                    position: absolute;
                    z-index: 1;
                    width: 500px;
                    height: 500px;
                    background: url(../media/salman.jpg) center center no-repeat;
                    background-size: contain;
                    left: 50%;
                    top: 40%;
                }
                .intro{
                    position: relative;
                    z-index: 2;
                    width: 55vw;
                    margin: 0 auto;
                    h1{
                        font-size: 6.2rem;
                        font-weight: 800;
                    }
                    h2{
                        font-size: 2.1rem;
                        color: var(--bg-color);
                    }
                    p{
                        margin: 0 0 20px;
                        padding: 0;
                        font-weight: 400;
                        font-size: 15px;
                        width: 45%;
                        span{
                            display: block;
                            font-weight: 700;
                            font-size: 1.2rem;
                        }
                        a{
                            color: $black;
                            font-weight: 500;
                        }
                        &:first-of-type{
                            margin-top: 35px;
                        }
                    }
                }
            }
            &.inspiration{
                padding: 100px 0;
                background-color: $white;
                color: $black;
            }
            &.hello{
                background: $white;
            }
        }
    }
}