@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #c9ee9b;
}

*::-webkit-scrollbar {
  background: #fff;
  width: 8px;
}
*::-webkit-scrollbar-button {
  display: none;
  background-color: #07f;
}
*::-webkit-scrollbar-track {
  background-color: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
}
*::-webkit-scrollbar-corner {
  display: none;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(155deg, #eee 20%, #ccc);
  transition: 1 s 0.4 s;
}

#progress {
  height: 1 px;
  background: #fff;
  position: absolute;
  width: 0;
  top: 50%;
  transition: 1 s;
}

#progstat {
  font-size: 0.7 em;
  letter-spacing: 3 px;
  position: absolute;
  top: 50%;
  margin-top: -40 px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  color: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading span {
  font-size: 2.2vw;
  font-weight: 400;
  line-height: 1em;
  display: block;
}
.loading h2 {
  font-size: 6vw;
  display: block;
  font-weight: 700;
  line-height: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

html, body {
  background: var(--bg-color);
  color: #fff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-weight: 400;
}

main section.home canvas#homePage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

div#container {
  width: inherit;
  height: inherit;
  position: relative;
  z-index: 0;
}
div#container > canvas {
  width: 100% !important;
  height: 100% !important;
  background-color: #fff;
}
div#container .backBtn {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0 15px;
  height: 35px;
  cursor: pointer;
}
div#container .backBtn:hover {
  color: #fff;
  background-color: var(--bg-color);
}
div#container ul.leather {
  position: fixed;
  z-index: 10;
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 100px;
  top: 40px;
  right: 40px;
  bottom: 40px;
}
div#container ul.leather li {
  width: inherit;
  height: auto;
}
div#container ul.leather li img {
  width: inherit;
  height: inherit;
}

ul.textures {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  border: 1px solid #eee;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16);
  overflow-y: auto;
}
ul.textures li {
  margin: 0;
}
ul.textures li img {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
ul.textures li img:hover {
  transform: scale(1.1, 1.1);
  z-index: 1;
}

div.camera-positions {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 10;
}
div.camera-positions button {
  font-size: 14px;
  font-weight: 600;
  padding: 0 15px;
  height: 22px;
  border: none;
  background-color: #073b4c;
  color: #fff;
  cursor: pointer;
}

div.shoes-colors {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  z-index: 10;
}
div.shoes-colors div {
  width: 30px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.6s;
  cursor: pointer;
}
div.shoes-colors div.active {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
}

div.shoes-texture {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: #fff;
  z-index: 10;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
div.shoes-texture div {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.chairColorPicker {
  position: absolute;
  left: 50%;
  z-index: 11;
  bottom: 10px;
  transform: translate(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.chairColorPicker li {
  padding: 0 10px;
}
.chairColorPicker li input[class=colorPicker] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  width: 50px;
  height: 35px;
  cursor: default;
  box-sizing: border-box;
  background-color: #fff;
  color: #30b361;
  border: 1px solid #ddd;
  padding: 1px 2px;
}

.annotation {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1em;
  max-width: 400px;
  color: #000;
  background: rgb(255, 255, 255);
  border-radius: 0.5em;
  font-size: 16px;
  line-height: 1.2;
  transition: opacity 0.5s;
}
.annotation::before {
  content: "1";
  position: absolute;
  color: #fff;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

#number {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.webgl-canvas__body {
  width: 100%;
  height: 100%;
}

.image-list {
  width: 800px;
  margin: 0 auto;
  padding: 180px 0;
}

.image-item {
  width: 100%;
}

.image-item:not(:first-of-type) {
  margin-top: 180px;
}

.image-wrapper {
  display: block;
  width: 100%;
  height: 500px;
}

.image-wrapper > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}

.annotation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1em;
  width: 200px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  font-size: 12px;
  line-height: 1.2;
  transition: opacity 0.5s;
}
.annotation::before {
  content: "1";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

#number {
  position: absolute;
  z-index: -1;
}/*# sourceMappingURL=three.css.map */